.app--dark {
    .app-notificator {
        &__cleaner {
            border-color: #1c81bd;
            background-color: #1e1e1e;

            &:hover {
                box-shadow: inset #00fdc3 0px 0px 3px 1px;
            }
        }
    }
}