.app-readonly-warning {
    transition: 0.15s ease-in-out background-color;

    .message-header {
        transition: 0.15s ease-in-out background-color;
    }

    .message-body {
        transition: 0.15s ease-in-out color;
    }
}
