.app-mode-switcher {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__switch {
        position: relative;
        display: inline-block;
        min-width: 3rem;

        input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .app-mode-switcher__slider {
                background-color: #2196f3;
            }

            &:focus + .app-mode-switcher__slider {
                box-shadow: 0 0 1px #2196f3;
            }

            &:checked + .app-mode-switcher__slider:before {
                -webkit-transform: translateX(1.5rem);
                -ms-transform: translateX(1.5rem);
                transform: translateX(1.5rem);
            }
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 1rem;
            width: 1rem;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
        }
    }
}
