.app-anchor {
    text-decoration: none;
    color: inherit;

    transition: 0.15s ease-in-out color;

    &:not(&--unhoverable):hover {
        text-decoration: underline;
        color: #3273dc;
    }

    .app-icon {
        transition: none;
    }
}
