.app--dark {
    .app-search input[type='search'] {
        background-color: #585858;
        color: white;

        &::-webkit-input-placeholder {
            color: #d1cfcf;
        }
    }
}