.app-search {
    input[type="search"] {
        transition: 0.15s ease-out;
        transition-property: border-color, color, background-color;

        &::placeholder {
            user-select: none;
        }

        &::-webkit-input-placeholder {
            transition: 0.15s ease-out color;
        }

        &::-webkit-search-cancel-button {
            cursor: pointer;
            font-size: 1.25rem;
        }
    }

    &.is-loading::after {
        right: 1rem;
        top: 0.725rem;
    }
}
