.app {
    height: 100%;
    overflow: hidden overlay;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    transition: 0.15s ease-in-out;
    transition-property: color, background-color;

    &__header {
        min-height: 5%;
    }
    &__content {
        flex-grow: 1;
        flex-shrink: 0;
        width: 90%;
    }
    &__footer {
        min-height: 5%;
        flex-shrink: 0;
    }

    &--dark {
        color: white;
        background-color: #1e1e1e;
    }
}
