.tanuki-logo .tanuki-left-ear,
.tanuki-logo .tanuki-right-ear,
.tanuki-logo .tanuki-nose {
    fill: #e24329;
    transition: all 0.8s;
}

.tanuki-logo .tanuki-left-eye,
.tanuki-logo .tanuki-right-eye {
    fill: #fc6d26;
    transition: all 0.8s;
}

.tanuki-logo .tanuki-left-cheek,
.tanuki-logo .tanuki-right-cheek {
    fill: #fca326;
    transition: all 0.8s;
}
