.app-footer {
    margin-top: 2rem;
    padding: 1.5rem 2rem 1rem;
    display: flex;
    font-size: 0.85rem;
    font-style: italic;

    &__left {
        min-width: 30%;
        flex-grow: 1;
        white-space: pre-wrap;
    }
    &__right {
        min-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .app-footer__line {
            display: flex;
            align-items: center;
        }
    }

    .app-icon {
        margin-left: 0.5rem;
    }
}
