.app-comment {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.275);
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 1rem;

    transition-duration: 0.15s;
    transition-property: border-color, background-color;
    &:hover {
        border-color: rgb(50, 115, 220, 0.75);
        background-color: rgb(50, 115, 220, 0.05);
    }

    &__appearance {
        min-width: 5rem;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__message {
        width: 85%;
    }
    &__actions {
        min-width: 10rem;
        justify-content: center;
    }

    &-enter {
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
}
