.app--dark {
    .app-modal .modal-card {
        border: 1px solid #1c81bd;
        border-radius: 4px;

        .modal-card-head,
        .modal-card-foot {
            background-color: #222222;
        }

        .modal-card-title,
        .label {
            color: white;
        }

        .modal-card-head button[aria-label="close"] {
            background-color: #fff;

            &::before, &::after {
                background-color: black
            }
        }

        .modal-card-body {
            background-color: #585858;
            color: white;
        }

        .modal-card-foot {
            .button.is-default {
                border-color: transparent;
            }
        }

        .field {
            input,
            textarea {
                background-color: #585858;
                color: white;

                &::-webkit-input-placeholder {
                    color: #d1cfcf;
                }
            }

            .help.is-danger {
                color: #ffcccc;
            }
        }
    }
}
